@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font-title: 'Playfair Display', serif;
    --font-page: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

li,
ul,
a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
}

.main {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

/*BACKGROUND BLUR*/
.container__background__svg {
    /*background-color: rgb(245, 237, 200);*/
    background-color: rgb(238, 192, 233);
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    filter: blur(50px);
}

.background__svg {
    position: absolute;
    filter: blur(50px);

}

.background__svg1 {
    top: -30%;
    left: -50%;
    width: 150%;
    rotate: 90deg;
    animation: background_rotate 10s linear alternate infinite;
}

.background__svg2 {
    top: -30%;
    right: -50%;
    width: 150%;
    rotate: -30deg;
    animation: background_rotate 10s linear alternate infinite;
}

.background__svg3 {
    bottom: -30%;
    left: -50%;
    width: 155%;
    animation: background_rotate 10s linear alternate infinite;
}

.background__svg4 {
    bottom: -30%;
    right: -40;
    width: 185%;
    animation: background_rotate 10s linear alternate infinite;
}

@keyframes background_rotate {
    form {
        transform: rotate(0) scale(1.3);
    }

    to {
        transform: rotate(360deg) scale(1.5);
    }
}

/*NAVBAR*/
.navbar {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    transform: translateY(-60px);
    background-color: rgb(0, 0, 0);
    z-index: 10;
    font-family: var(--font-page);
    border-bottom: 2px inset white;
    transition: 0.5s;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.navbar__link {
    color: rgb(124, 181, 246);
    font-size: 1rem;
    transition: 0.2s;
    position: relative;
    z-index: 6;
    height: 100%;
    background-color: black;
}

.link--active {
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.2s;
    color: rgb(255, 255, 255);
}

.navbar__show {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10.7%;
    transform: translateX(-10%);
    bottom: -102px;
    z-index: 5;
    cursor: pointer;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.show {
    transform: translateY(0);
    transition: 0.5s;
}

/*HOME*/
.h1 {
    color: rgb(136, 136, 136);
    font-family: var(--font-title);
    font-size: 1.4rem;
    margin: 0 20PX;
    position: relative;
}

.home__socials {
    position: absolute;
    top: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.home__socials__img {
    border-radius: 50%;
    width: 35px;
    cursor: pointer;
    transition: 0.1s;
}

.home__socials__img:hover {
    transform: rotate(10deg) scale(1.3);
    transition: 0.5s;
    filter: brightness(1.5);
}

.home__socials__img--rotate:hover {
    transform: rotate(-10deg) scale(1.3);
    transition: 0.5s;
    filter: brightness(1.5);
}

.home__name {
    font-size: 2.5rem;
    color: #000000;
}

.home__job {
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
}

/*ABOUT*/
.about {
    width: 100vw;
    background-color: black;
    box-shadow: 0 0 30px 0px rgb(201, 230, 248);
}

.about__title {
    font-family: var(--font-title);
    font-size: 4rem;
    color: lightblue;
    margin-top: 30px;
    text-align: center;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: var(--font-page);
}

.about__description {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 88%;
}

.about__description {
    max-width: 500px;
    line-height: 25px;
    font-size: 1.1rem;
    margin-top: 30px;
    color: white
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
    margin: 50px 0 50px 0;
}

.about__list__title {
    font-weight: bold;
    font-size: 1.2rem;
    color: lightblue;
}

.about__list__item {
    line-height: 20px;
}

.about__footer {
    display: flex;
    gap: 20px;
}

.about__btn {
    height: 35px;
    width: 150px;
    padding: 5px;
    border-radius: 25px;
    background: black;
    border: 2px solid lightblue;
    font-size: 1.1rem;
    transition: 0.5s;
    cursor: pointer;
}

.about__btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.about__btn__img {
    width: 30px;
    transition: 0.5s;
}

.about__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*TECNOLOGY*/
.tecnology__container__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    position: relative;
}

.tecnology__header {
    position: absolute;
    top: 10%;
    font-family: var(--font-title);
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.tecnology__line {
    position: absolute;
    min-width: 100vw;
    height: 5px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    top: 50%;
    border-radius: 25px;
    transform: translateY(-50%);
}

.tecnology__slider {
    display: flex;
    justify-content: start;
    animation: sliderAuto 15s infinite alternate;
    z-index: 2;
    padding: 50px 0;
}

.tecnology__slider2 {
    display: flex;
    justify-content: flex-end;
    animation: sliderAuto 15s infinite alternate;
    z-index: 2;
    padding: 50px 0;
}

.tecnology__container__img {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transition: 0.5s;
}

.tecnology__img {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(250, 249, 250, 0.142);
    padding: 60px 2px;
    border-radius: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.408);
    border-bottom: 2px solid rgba(255, 255, 255, 0.408);
    backdrop-filter: blur(20px);
    margin-right: 16px;
    box-shadow: 0 0 10px 0px rgba(113, 113, 113, 0.137);
}

.tecnology__img__name {
    position: absolute;
    top: 85%;
    margin-right: 10px;
    font-size: 2rem;
    color: rgb(66, 66, 66);
    font-family: var(--font-title);
}

@keyframes sliderAuto {
    0% {
        margin-left: 0vw;
    }

    7.14% {
        margin-left: -0vw;
    }

    14.28% {
        margin-left: -100vw;
    }

    21.42% {
        margin-left: -100vw
    }

    28.56% {
        margin-left: -200vw;
    }

    35.7% {
        margin-left: -200vw
    }

    42.84% {
        margin-left: -300vw;
    }

    49.98% {
        margin-left: -300vw
    }

    57.12% {
        margin-left: -400vw
    }

    64.26% {
        margin-left: -400vw
    }

    78.54% {
        margin-left: -500vw;
    }

    85.68% {
        margin-left: -500vw
    }

    92.82% {
        margin-left: -600vw;
    }

    99.96% {
        margin-left: -600vw;
    }


    100% {
        margin-left: -700vw;
    }
}

/*PORTFOLIO*/
.portfolio {
    width: 100vw;
    background-color: black;
    padding: 10vh 0 30vh 0;
}

.portdolio__header {
    font-family: var(--font-title);
    font-size: 3rem;
    color: lightblue;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 150px;
    font-family: var(--font-page);
}

.portfolio:nth-child(1) {
    transition-delay: 200ms;
}

.portfolio:nth-child(2) {
    transition-delay: 400ms;
}

.portfolio:nth-child(3) {
    transition-delay: 600ms;
}

.portfolio:nth-child(4) {
    transition-delay: 800ms;
}

.project__container {
    position: relative;
    width: 100%;
    min-height: 400px;
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project__img {
    position: relative;
    width: 95%;
    max-height: 430px;
    z-index: 2;
}

.project__poster {
    width: 95%;
    position: absolute;
    z-index: 3;
    height: 100%;
    margin: 0 auto;
    opacity: 1;
    transition: 0.5s;
}

.project__container:hover .project__poster {
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
}

.project__header {
    z-index: 1;
    position: absolute;
    height: 100px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    top: 50%;
    transition: 0.7s;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    opacity: 0;
    padding: 5px 0;
}

.project__footer {
    z-index: 1;
    position: absolute;
    height: 100px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    bottom: 50%;
    transition: 0.7s;
    opacity: 0;
    color: white;
    display: flex;
    flex-direction: column;
}

.project__footer__title {
    color: lightblue;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px 0;
}

.project__footer__description {
    width: 90%;
    margin: auto;
}

.project__container:hover .project__header {
    top: -50px;
    opacity: 1;
    transition: 1s;
}

.project__container:hover .project__footer {
    bottom: -40px;
    opacity: 1;
    transition: 1s;
}

.project__header__tech {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project__technology {
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.project__technology:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 2px white);
    transition: 0.5s;
}

.project__header__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 100%;
}

.project__header__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.project__header__btn:hover {
    background-color: white;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0px white;
}

.project__header__btn:hover a {
    color: black;
    transition: 0.5s;
}

.project__header__btn a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.project__header__btn__img {
    width: 25px;
}

.project__header__btn:hover .project__header__btn__img {
    filter: invert(100%) sepia(90%) saturate(7478%) hue-rotate(189deg) brightness(97%) contrast(92%);
}

.project__footer__description {
    text-align: center;
}

/*--FORM--*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__description {
    font-family: var(--font-title);
    font-size: 1.5rem;
    color: black;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(30px);
}

.form input,
.form textarea {
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ffffff96;
}

.form textarea {
    max-width: 470px;
    height: 200px;
}

.form__btn {
    background-color: rgb(162, 195, 243);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;
}

/*FOOTER*/
.footer {
    background-color: black;
    width: 100vw;
    height: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__logo {
    height: 80%;
}

.footer__img {
    height: 100%;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.5s;
}

.footer__copyright {
    color: lightblue;
}

/*--EFFECT HIDDEN--*/
.hidden {
    opacity: 0;
    transition: opacity 0.5s;
    transform: translateX(-100px);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 1s;
}

@media (min-width:550px) {
    .h1 {
        font-size: 1.7rem;
    }

    .home__socials__img {
        width: 55px;
    }

    .home__name {
        font-size: 2.8rem;
    }

    .home__job {
        font-size: 3.2rem;
    }

}

@media (min-width:700px) {
    .tecnology__container__img {
        min-width: 50vw;
        transition: 0.5s;
    }

    .tecnology__slider {
        animation: sliderAuto 10s infinite alternate;
    }

    @keyframes sliderAuto {
        0% {
            margin-left: 0vw;
        }

        12.5% {
            margin-left: -0vw;
        }

        25% {
            margin-left: -100vw;
        }

        37.5% {
            margin-left: -100vw
        }

        50% {
            margin-left: -200vw;
        }

        62.5% {
            margin-left: -200vw
        }

        75% {
            margin-left: -300vw;
            animation-duration: 1s;
        }

        100% {
            margin-left: -300vw;
            animation-duration: 1s;
        }
    }
}

@media (min-width:800px) {
    .portfolios {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px;
    }

    .portfolios img {
        height: 800%;
        width: 100%;
    }

    .form {
        width: 70%;
    }

}


@media (min-width:1024px) {
    .tecnology__container__img {
        min-width: 512px;
    }

    @keyframes sliderAuto {
        0% {
            margin-left: 0px;
        }

        12.5% {
            margin-left: 0px;
        }

        25% {
            margin-left: -1024px;
        }

        37.5% {
            margin-left: -1024px;
        }

        50% {
            margin-left: -2048px
        }

        62.5% {
            margin-left: -2048px
        }

        75% {
            margin-left: -3072px
        }

        100% {
            margin-left: -3072px
        }
    }
}