@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font-title: 'Playfair Display', serif;
    --font-page: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
}

li,
ul,
a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}

.main {
   
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body {
    overflow-x: hidden;
    height: 100vh;
}

.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/*BACKGROUND BLUR*/
.container__background__svg {
    background-color: rgb(238, 192, 233);
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    filter: blur(50px);
}

.background__svg {
    position: absolute;
    filter: blur(50px);
    animation: background_rotate 10s linear alternate infinite;
}

.background__svg1 {
    top: -30%;
    left: -50%;
    width: 150%;
    rotate: 90deg;
}

.background__svg2 {
    top: -30%;
    right: -50%;
    width: 150%;
    rotate: -30deg;
}

.background__svg3 {
    bottom: -30%;
    left: -50%;
    width: 155%;
}

.background__svg4 {
    bottom: -30%;
    right: -40;
    width: 185%;
}

@keyframes background_rotate {
    form {
        transform: rotate(0) scale(1.3);
    }

    to {
        transform: rotate(360deg) scale(1.5);
    }
}

/*NAVBAR*/
.navbar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    transform: translateY(-50px);
    background-color: rgb(0, 0, 0);
    z-index: 10;
    font-family: var(--font-page);
    border-bottom: 2px inset white;
    transition: 0.5s;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.navbar__link {
    color: rgb(124, 181, 246);
    font-size: 1.1rem;
    transition: 0.2s;
    position: relative;
    z-index: 6;
    height: 100%;
    background-color: black;
}

.navbar__link:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.2s;
    color: rgb(255, 255, 255);
}

/*
.link--active {
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.2s;
    color: rgb(255, 255, 255);
}*/

.navbar__show {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 10.7%;
    transform: translateX(-10%);
    bottom: -32px;
    z-index: 5;
    cursor: pointer;
    border: 2px solid white;
    border-top: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__cross {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin-bottom: 25px;
}

.show {
    transform: translateY(0);
    transition: 0.5s;
}

/*HOME*/
.home {
position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home__data {

    margin: auto;
    position: absolute;
    top: 65%;
    transform: translateY(-70%);
}
.h1 {
    color: rgb(143, 143, 143);
    font-family: var(--font-title);
    font-size: max(20%,3rempx);
    margin: 0 20px;
    position: relative; 
    margin-bottom: 50px;
}

.home__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.home__socials__img {
    border-radius: 50%;
    width: 55px;
    cursor: pointer;
}

.home__socials__img:hover {
    transform: rotate(10deg) scale(1.3);
    transition: 0.5s;
    filter: brightness(1.5);
}

.home__socials__img--rotate:hover {
    transform: rotate(-10deg) scale(1.3);
    transition: 0.5s;
    filter: brightness(1.5);
}

.home__name {
    font-size: 2.5rem;
    color: #000000;
}

.home__job {
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
}

.home__scroll {
    margin-top: 50px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 10%;
}

.home__cross {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    animation: scroll 2s infinite;
}

.home__cross:nth-child(1) {
    animation-delay: .4s;
}

.home__cross:nth-child(2) {
    animation-delay: .3s;
}

.home__cross:nth-child(3) {
    animation-delay: .2s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-30px, -30px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*ABOUT*/
.about {
    width: 100vw;
    background-color: black;
    box-shadow: 0 0 30px 0px rgb(201, 230, 248);
}

.about__title {
    font-family: var(--font-title);
    font-size: 4rem;
    color: lightblue;
    margin-top: 30px;
    text-align: center;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px 0 80px 0;
    font-family: var(--font-page);
}

.about__description {
    line-height: 28px;
    font-size: 1.1rem;
    margin-top: 30px;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: start;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
    margin: 50px 0 50px 0;
}

.about__list__title {
    font-weight: bold;
    font-size: 1.2rem;
    color: lightblue;
}

.about__list__item {
    line-height: 20px;
}

.about__footer {
    display: flex;
    gap: 20px;
}

.about__btn {
    height: 35px;
    width: 130px;
    padding: 5px;
    border-radius: 25px;
    background: black;
    border: 2px solid lightblue;
    font-size: 1.1rem;
    transition: 0.5s;
    cursor: pointer;
}

.about__btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.about__btn__img {
    width: 30px;
    transition: 0.5s;
}

.about__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*TECNOLOGY*/
.tecnology__container__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    position: relative;
}

.tecnology__header {
    margin: 50px 0;
    font-family: var(--font-title);
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

/*PORTFOLIO*/
.portfolio {
    width: 100vw;
    padding: 50px 0px 100px 0px;
    background-color: black;
    font-family: var(--font-page);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.portdolio__header {
    font-family: var(--font-title);
    font-size: 3rem;
    color: lightblue;
    text-align: center;
    margin-bottom: 50px;
}

.projects {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 100px;
}

.project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-delay: 400ms;
}

.project__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.project__image {
    width: calc(100vw - 40px);
    height: 60vw;
    max-width: 500px;
    max-height: 350px;
    background-position: center;
    background-size: 130% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.project__type {
    color: white;
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
}

.project__title {
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.project__header__tech {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

.project__technology {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    filter: invert(100%) sepia(11%) saturate(7424%) hue-rotate(185deg) brightness(111%) contrast(98%);
}

.project__technology:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

.project__header__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__header__btn {
    width: 110px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.project__header__btn:hover {
    background-color: white;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 0 5px 0px white;
}

.project__header__btn:hover a {
    color: black;
    transition: 0.5s;
}

.project__header__btn a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.project__header__btn__img {
    width: 25px;
}

.project__header__btn:hover .project__header__btn__img {
    filter: invert(100%) sepia(90%) saturate(7478%) hue-rotate(189deg) brightness(97%) contrast(92%);
}

/*--FORM--*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0px 100px 0px;
}

.contact__title {
    margin: 50px 0;
    font-family: var(--font-title);
    font-size: 3rem;
    color: rgb(0, 0, 0);

}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(30px);
    font-family: var(--font-page);
}

.form input,
.form textarea {
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ffffff96;
    font-size: 1.1rem;
}

.form textarea {
    max-width: 800px;
    height: 200px;
}

.form__btn {
    background-color: rgb(162, 195, 243);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.5s;
    font-size: 1.1rem;
}

.form__btn:hover {
    transition: 0.5s;
    filter: brightness(1);
    scale: 1.05;
}

/*FOOTER*/
.footer {
    background-color: black;
    width: 100%;
    height: 170px;
    position: relative;
    display: flex;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
}

.footer__subcontainer1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    height: 100%;
    width: 100%;
    max-width: 120px;
    margin-left: 30px;
}

.footer__img {
    height: 100%;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 15px;
    width: 40%;
    margin-right: 30px;
    transition: 0.5s;
}

.footer__socials img {
    width: 40px;
    transition: 0.5s;
}

.footer__copyright {
    color: lightblue;
    margin-bottom: 20px;
}

/*--EFFECT HIDDEN--*/
.hidden {
    opacity: 0;
    transition: opacity 0.5s;
    transform: translateY(100px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 1s;
}

/*-- SWIPER --*/
swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    font-family: var(--font-page);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgb(162, 195, 243);
    font-weight: 600;
    font-size: 1.5;
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    background-color: rgb(0, 0, 0);
    padding: 60px 2px;
    border-radius: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.408);
    border-bottom: 2px solid rgba(255, 255, 255, 0.408);
    backdrop-filter: blur(20px);
    margin-right: 16px;
    box-shadow: 0 0 10px 0px rgba(113, 113, 113, 0.137);
}

swiper-slide img {
    display: block;
    width: 60%;
    height: 60%;
    margin: auto;
    filter: invert(100%) sepia(11%) saturate(7424%) hue-rotate(185deg) brightness(111%) contrast(98%);
}

swiper-slide:hover img {
    filter: invert(99%) sepia(96%) saturate(193%) hue-rotate(344deg) brightness(96%) contrast(95%);
    transition: .5s;
}